[submodule "deps/ijkplayer"]
	path = deps/ijkplayer
	url = https://github.com/zismusicapp/ijkplayer.git
[submodule "deps/superpowered"]
	path = deps/superpowered
	url = https://github.com/zismusicapp/Low-Latency-Android-Audio-iOS-Audio-Engine.git
[submodule "deps/grafika"]
	path = deps/grafika
	url = https://github.com/zismusicapp/grafika.git
[submodule "deps/djinni"]
	path = deps/djinni
	url = https://github.com/zismusicapp/djinni.git
