<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zis.musapp.gh"
>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <!--for Digits-->
  <uses-permission android:name="android.permission.RECEIVE_SMS"/>

  <application
      android:name="com.zis.musapp.gh.BootstrapApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      tools:replace="icon,label"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
  >

    <!--zisman.mikhail@gmail.com-->
    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="072592524e88e44f67662301a297cbc81f8b2898"
    />

    <meta-data
        android:name="com.parse.CLIENT_KEY"
        android:value="072592524e88e44f67662301a297cbc81f8b2898"/>

    <meta-data
        android:name="com.parse.APPLICATION_ID"
        android:value="APPLICATION_ID" />

    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    <activity
        android:name="com.zis.musapp.gh.features.splash.SplashActivity"
        android:theme="@style/AppTheme.Launcher"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!--facebook-->
    <activity android:name="com.facebook.FacebookActivity"
        android:configChanges=
            "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:label="@string/app_name" />

    <provider android:authorities="com.facebook.app.FacebookContentProvider1234"
        android:name="com.facebook.FacebookContentProvider"
        android:exported="true" />
    <!--facebook-->
    <!-- Tour -->
    <activity
        android:name=".features.tour.TourActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.App.NoActionBar"
        android:windowSoftInputMode="adjustNothing"/>

    <activity android:name="com.zis.musapp.gh.features.search.SearchActivity"/>
    <activity android:name="com.zis.musapp.gh.features.profile.ProfileActivity"/>
    <activity android:name="com.zis.musapp.gh.features.kiddashboard.KidDashboardActivity"
        android:screenOrientation="portrait"/>

    <activity android:name=".features.splash.WelcomeActivity"
        android:screenOrientation="portrait"/>

    <activity android:name=".features.login.SignupActivity"
        android:screenOrientation="portrait"/>

    <activity android:name=".features.choosesong.ChooseSongActivtity"
        android:screenOrientation="portrait"/>


    <activity android:name=".features.splash.MyVideoActivity"
        android:screenOrientation="portrait"/>

    <activity android:name=".features.songRecord.CameraCaptureActivity"
        android:screenOrientation="portrait"/>

    <activity android:name=".features.editVideo.TrimmerActivity"
        android:screenOrientation="portrait"/>

    <activity android:name=".features.previewActivity.PreviewActivity"
        android:screenOrientation="portrait"/>


    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key"/>


  </application>

</manifest>